header#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 100%, 0.97);
  z-index: 1;
  transition: 0.3s;
  height: 73px;
}

.clone-header {
  height: 73px;
}

.glide-img {
  width: 150px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.glider-slide:hover .glide-img {
  filter: grayscale(0%);
}

#filtre-annonce {
  width: 320px;
}

#filtre-annonce > div {
  position: sticky;
  top: 100px;
  max-height: calc(100vh - 280px);
  overflow-y: auto;
}

#filtre-annonce > div::-webkit-scrollbar {
  width: 5px;
}

#filtre-annonce > div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#filtre-annonce > div::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}

#filtre-annonce > div::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

#liste-annonce {
  width: calc(100% - 320px);
}

@media (max-width: 1717px) {
  #filtre-annonce {
    width: 300px;
  }

  #filtre-annonce .accordion-header > button {
    padding-left: 1.5rem !important;
  }
}

@media (max-width: 1654px) {
  #filtre-annonce {
    display: none;
  }

  #liste-annonce {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #liste-annonce > div {
    max-width: 100% !important;
  }
}
#liste-annonce .icon-favoris i {
  cursor: pointer;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

#liste-annonce .icon-favoris:hover i,
#liste-annonce .icon-favoris i.active {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}

#liste-message > nav {
  width: 350px;
  position: fixed;
}

#liste-message > nav > .list-group {
  max-height: calc(100vh - 290px);
  overflow-y: auto;
}

#liste-message > nav > .list-group::-webkit-scrollbar {
  width: 3px;
}

#liste-message > nav > .list-group::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#liste-message > nav > .list-group::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}

#liste-message > nav > .list-group::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

#liste-message > .clone {
  width: 350px;
}

#container-message > div {
  position: relative;
  min-height: 80vh;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-height: 60vh;
}

.input-message .icon-send {
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border: 0px;
  background-color: transparent;
}

.input-message .icon-send:hover {
  background-color: rgb(230, 230, 230);
}

#container-message .messages {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow-y: auto;
}

#container-message .messages p {
  min-width: 300px;
}

@media (max-width: 992px) {
  #liste-message {
    display: none;
  }
}

@media (max-width: 576px) {
  .messages {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  #container-message .messages p {
    min-width: 250px;
  }
}
